@import './resets';

body {

    .hero_container {
        width: 90%;
        height: 100%;
        margin: auto;
        padding: 2rem;
        background: $bg-color;
        border: none;
        border-radius: 1rem;
        margin-top: 6rem;
        backdrop-filter: blur(1rem);

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 4rem;

            img {
                object-fit: contain;

            }
            
        }

        .content {
            width: 80%;
            height: max-content;
            margin: auto;
            text-align: center;

            h1 {
                font-size: 4.5rem;
                font-weight: map-get($fontweight, bold );
                color: $txt-color;
                margin-bottom: 3rem;
                text-transform: uppercase;
            }

            p {
                font-size: 1.6rem;
                font-weight: map-get($fontweight, regular );
                color: $txt-color;
                margin-bottom: 5rem;
            }

            .cta {
                margin: 3rem;
                display: flex;
                justify-content: space-around;
                margin-bottom: 4rem;

                a {
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-weight: map-get($fontweight, medium );
                    text-transform: capitalize;
                    color: $txt-color;
                    background: $btn-color;
                    padding: 1rem 2.5rem;
                    border: thin solid #fff;
                    border-radius: 3rem;
                    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &:hover {
                        box-shadow: 0rem .2rem .5rem  #22dcf878;
                        color: $txt-color2;
                        border: thin solid $txt-color2;
                        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    }
                }
            }

        }




    }

}