* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url(/images/fud.png);
    background-size: cover;
    background-position: fixed;

    .container {
        width: 90%;
        margin: auto;
        margin-top: 4rem;
        background-color: #101010c4;
        backdrop-filter: blur(.8rem);
    }

    .meal-wrapper {
        
        .meal-search {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;

            img {
                margin-top: 3rem;
                object-fit: contain;
                align-items: center;
            }

            .meal-search-box {
                margin-top: 5rem;

                input {
                    width: 80rem;
                    height: 4rem;
                    font-size: 1.8rem;
                    font-weight: 500;
                    text-transform: capitalize;
                    padding: 2rem;
                    border-radius: 36px;
                    border: thin solid #808080;
                    background: #131313d4;
                    background-blend-mode: normal;
                    backdrop-filter: blur(.4rem);
                    
                    outline: none;
                    color: #fff;
                    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &:focus {
                        background: #070707;
                        box-shadow: 0 .3rem .5rem #101010;
                        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    }

                    &::placeholder {
                        font-style: italic;
                    }

                }

                button {
                    border: none;
                    border-radius: 3rem;
                    background: #f44336;
                    color: #fff;
                    font-size: 2rem;
                    font-weight: 600;
                    text-transform: capitalize;
                    width: 20rem;
                    height: 4rem;
                    cursor: pointer;
                    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    &:hover {
                        background: #f44336db;
                        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    }
                    
                    .search-btn {
                        width: 100%;
                    }
                }


            }

        }

        .meal-result {
            width: 100%;
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            
            h4 {
                font-size: 1.6rem;
                font-weight: 400;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                margin-bottom: 3rem;
            }

            #meal {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                .meal-item {
                    border: none;
                    border-radius: 2rem;
                    background: rgba(255, 255, 255, 0.379);
                    padding: 1rem;
                    margin: 2rem;

                    .meal-img {
                        width: 100%;

                        img {
                            object-fit: contain;
                            width: 30rem;
                            height: 30rem;
                            border-radius: 50%;
                        }
                    }

                    .meal-name {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h5 {
                            text-align: center;
                            font-size: 1.7rem;
                            font-weight: 600;
                            text-transform: capitalize;
                            margin: 2rem;
                            color: #fff;
                        }

                        a {
                            
                            text-decoration: none;
                            padding: 1rem 3rem;
                            border-radius: 2rem;
                            background: #101010cf;
                            backdrop-filter: blur(.2rem);
                            font-size: 1.6rem;
                            font-weight: 500;
                            color: #fff;
                            transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                            &:hover {
                                background: #070707;
                                transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                            }

                        }
                    }
                }

            }

            .meal-details {

            }



        }
    }



    .notfound {
        color: #fff;
    }


}



